@tailwind base;
@tailwind components;
@tailwind utilities;

/* All colors are in hsl format */
@layer base {
  :root {
    --background: 0 0% 85%;
    --foreground: 0 0% 10%;
    --card: 0 0% 90%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 85%;
    --popover-foreground: 0 95% 0%;
    --primary: 0 0% 15%;
    --primary-foreground: 0 0% 90%;
    --secondary: 0 10% 70%;
    --secondary-foreground: 0 0% 10%;
    --muted: -38 10% 85%;
    --muted-foreground: 0 0% 35%;
    --accent: -38 10% 80%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 0 0% 90%;
    --border: 0 20% 50%;
    --input: 0 20% 18%;
    --ring: 0 0% 15%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Disable number input arrows */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
